<div id="services">
  <h1>Services</h1>
  <div class="lg-card-container">
    <div class="lg-card">
      Card 1 content
    </div>
    <div class="lg-card">
      Card 2 content
    </div>
  </div>
</div>
