<div class="banner">
  <div class="banner-column">
    <div>
      <h1>Lumineglyph</h1>
    </div>
    <div>
      <p>We are a husband and wife combining our different skillsets into one creative team to design your next web project.</p>
    </div>
    <div>
      <%= link_to "click here", root_path, class: "lg-button"  %>
    </div>
  </div>
  <div class="banner-column">
    ass
  </div>
</div>
<div class="body-content">
  <%= render 'partials/services' %>
</div>
