.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('banner.webp');
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin: 0px;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-column {
  padding: 64px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #FC4;
}

.banner h1 {
  text-shadow: 4px 4px rgb(30, 30, 60);
  font-size: 4rem;
  margin: 0px;
}

.banner p {
  font-size: 1rem;
  margin: 4px;
  text-shadow: 2px 2px rgb(30, 30, 60);
}

// div {
//   border: solid 1px red;
// }
